@charset "UTF-8";
:root {
  font-size: 62.5%; /*1rem=10px*/
}

/* нормалізація стилів */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: 1.5rem;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

@media (max-width: 768px) {
  :root {
    font-size: 50%; /*1rem=8px */
  }
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}
.header__logo-link {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6rem;
  color: #7d7c7c;
}
.header__logo-span {
  color: #5ab2ff;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.header__link {
  color: #7d7c7c;
  font-size: 1.7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__link:hover {
  color: #5ab2ff;
}
.header__mobile {
  display: none;
}
.header__mobile-open, .header__mobile-close {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: #5ab2ff;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu {
    display: none;
  }
  .header__mobile .header__mobile-close {
    display: none;
  }
  .header__mobile.active .header__mobile-close {
    display: block;
    position: fixed;
    right: 5rem;
    top: 5rem;
    z-index: 20;
    color: white;
  }
  .header__mobile.active .header__mobile-open {
    display: none;
  }
  .header__menu.active {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10;
    background-color: rgba(90, 178, 255, 0.8);
    overflow: auto;
  }
  .header__link {
    color: white;
    font-size: 2.5rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__link:hover {
    color: wheat;
  }
}

@media (max-width: 992px) {
  body.active {
    overflow: hidden;
  }
}
.about {
  margin-top: -7rem;
  position: relative;
  height: 60rem;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}
.about__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: overlay;
}
.about__container {
  position: absolute;
  top: 7rem;
  left: 0;
  width: 100%;
}
.about__container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__text-block {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__title {
  margin-bottom: 4rem;
  color: #5ab2ff;
  margin-bottom: 2.5rem;
}
.about__title-span {
  font-size: 5rem;
  color: #5ab2ff;
}
.about__text {
  margin-bottom: 2.5rem;
  color: gray;
}
.about__button {
  margin-right: auto;
  padding: 0 2rem;
  padding: 1.5rem 5rem;
  background-color: #5ab2ff;
  border: none;
  color: white;
}
.about__front-img {
  height: 53rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .about__front-img {
    position: absolute;
    height: 53rem;
    right: -20%;
  }
  .about__text-block {
    height: 53rem;
    width: 70%;
  }
}
@media (max-width: 576px) {
  .about__front-img {
    display: none;
  }
}

.welkome__container {
  padding-block: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.welkome__item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}
.welkome__item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welkome__item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welkome__item:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welkome__item:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welkome__title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #7d7c7c;
}
.welkome__title:hover:nth-child(2) {
  color: #5ab2ff;
}
.welkome__span {
  font-size: 3rem;
  color: black;
}
.welkome__button {
  margin-top: 3rem;
  padding: 0 2rem;
  padding: 1.5rem 5rem;
  background-color: #5ab2ff;
  border: none;
  color: white;
}
.welkome__text {
  color: #7d7c7c;
}
.welkome__icon-text {
  margin-bottom: 4rem;
}
.welkome__icon {
  margin-right: 3rem;
  font-size: 3rem;
  background-color: #5ab2ff;
  color: white;
  border-radius: 50%;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7rem;
  height: 6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.welkome__icon:hover {
  background-color: rgb(46, 46, 201);
}

@media (max-width: 992px) {
  .welkome__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .welkome__item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }
  .welkome__item {
    margin: 2rem;
  }
}
@media (max-width: 768px) {
  .welkome__container {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
  .welkome__item:nth-child(1) {
    grid-column: auto;
    grid-row: auto;
  }
  .welkome__icon-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.clinic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(239, 239, 239);
  position: relative;
}
.clinic__img {
  width: 20%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  bottom: 0;
}
.clinic__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clinic__description {
  width: 70%;
  padding-left: 20%;
  padding-right: 5%;
}
.clinic__description-title {
  margin-bottom: 2rem;
  color: #7d7c7c;
}
.clinic__description-span {
  color: black;
}
.clinic__description-text {
  margin-bottom: 2rem;
  color: #7d7c7c;
}
.clinic__description-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clinic__description-icon-text {
  margin-left: 1rem;
  margin-bottom: 2rem;
  color: #7d7c7c;
}
.clinic__icon {
  font-size: 3rem;
  color: #5ab2ff;
  margin-top: 5px;
}
.clinic__hours {
  width: 30%;
  background-color: #5ab2ff;
  color: white;
  padding: 5rem 0;
}
.clinic__hours-title {
  text-align: center;
  margin-bottom: 2rem;
}

.table {
  background-color: #74beff;
  padding: 2rem;
  width: 100%;
  border-collapse: collapse;
  line-height: 3.5;
}
.table__tr {
  text-align: center;
  border-bottom: 2px solid #5ab2ff;
}
@media (max-width: 992px) {
  .clinic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clinic__description {
    padding-left: 2rem;
  }
  .clinic__img {
    display: none;
  }
  .clinic__container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .clinic__description,
  .clinic__hours {
    width: 100%;
    padding-block: 5rem;
  }
}
.inside {
  padding: 7rem;
  text-align: center;
}
.inside__title {
  color: #7d7c7c;
  padding-bottom: 2rem;
}
.inside__title-span {
  color: black;
}
.inside__text {
  color: #7d7c7c;
  padding-bottom: 4rem;
}
.inside__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 26rem);
  gap: 1rem;
}
.inside__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inside__button {
  margin-top: 3rem;
  padding: 0 2rem;
  padding: 1.5rem 5rem;
  background-color: #5ab2ff;
  border: none;
  color: white;
  display: inline-block;
}
.inside__image-container {
  position: relative;
}
.inside__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 140, 243, 0.707);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.inside__overlay-text {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.inside__image-container:hover .inside__overlay {
  opacity: 1;
}
.inside__icon {
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1rem;
}

@media (max-width: 992px) {
  .inside__images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 26rem);
  }
}
@media (max-width: 768px) {
  .inside__images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 36rem);
  }
}
/* ------- DO NOT EDIT BELOW --------- */
.chart-one {
  width: 150px;
  height: 150px;
  margin: 0;
  position: relative;
}
.chart-one.animate svg .circle-foreground {
  -webkit-animation: offset 3s ease-in-out forwards;
          animation: offset 3s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.chart-one.animate figcaption:after {
  -webkit-animation: chart-one-label 3s steps(90) forwards;
          animation: chart-one-label 3s steps(90) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.chart-one svg {
  width: 100%;
  height: 100%;
}
.chart-one svg .circle-background, .chart-one svg .circle-foreground {
  r: 70px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #0066c0;
  stroke-width: 10px;
}
.chart-one svg .circle-foreground {
  stroke: white;
  stroke-dasharray: 395.64px 439.6px;
  stroke-dashoffset: 395.64px;
  stroke-linecap: butt;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.chart-one svg .circle-aditional {
  r: 49px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
.chart-one figcaption {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  text-align: center;
  color: white;
  position: absolute;
  top: calc(50% - 1.25rem);
  left: 0;
  font-size: 0;
}
.chart-one figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a";
  white-space: pre;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

@-webkit-keyframes chart-one-label {
  100% {
    -webkit-transform: translateY(-225rem);
            transform: translateY(-225rem);
  }
}

@keyframes chart-one-label {
  100% {
    -webkit-transform: translateY(-225rem);
            transform: translateY(-225rem);
  }
}
.chart-two {
  width: 150px;
  height: 150px;
  margin: 0;
  position: relative;
}
.chart-two.animate svg .circle-foreground {
  -webkit-animation: offset 3s ease-in-out forwards;
          animation: offset 3s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.chart-two.animate figcaption:after {
  -webkit-animation: chart-two-label 3s steps(85) forwards;
          animation: chart-two-label 3s steps(85) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.chart-two svg {
  width: 100%;
  height: 100%;
}
.chart-two svg .circle-background, .chart-two svg .circle-foreground {
  r: 70px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #0066c0;
  stroke-width: 10px;
}
.chart-two svg .circle-foreground {
  stroke: white;
  stroke-dasharray: 373.66px 439.6px;
  stroke-dashoffset: 373.66px;
  stroke-linecap: butt;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.chart-two svg .circle-aditional {
  r: 49px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
.chart-two figcaption {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  text-align: center;
  color: white;
  position: absolute;
  top: calc(50% - 1.25rem);
  left: 0;
  font-size: 0;
}
.chart-two figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a";
  white-space: pre;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

@-webkit-keyframes chart-two-label {
  100% {
    -webkit-transform: translateY(-212.5rem);
            transform: translateY(-212.5rem);
  }
}

@keyframes chart-two-label {
  100% {
    -webkit-transform: translateY(-212.5rem);
            transform: translateY(-212.5rem);
  }
}
.chart-three {
  width: 150px;
  height: 150px;
  margin: 0;
  position: relative;
}
.chart-three.animate svg .circle-foreground {
  -webkit-animation: offset 3s ease-in-out forwards;
          animation: offset 3s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.chart-three.animate figcaption:after {
  -webkit-animation: chart-three-label 3s steps(65) forwards;
          animation: chart-three-label 3s steps(65) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.chart-three svg {
  width: 100%;
  height: 100%;
}
.chart-three svg .circle-background, .chart-three svg .circle-foreground {
  r: 70px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #0066c0;
  stroke-width: 10px;
}
.chart-three svg .circle-foreground {
  stroke: white;
  stroke-dasharray: 285.74px 439.6px;
  stroke-dashoffset: 285.74px;
  stroke-linecap: butt;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.chart-three svg .circle-aditional {
  r: 49px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
.chart-three figcaption {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  text-align: center;
  color: white;
  position: absolute;
  top: calc(50% - 1.25rem);
  left: 0;
  font-size: 0;
}
.chart-three figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a";
  white-space: pre;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

@-webkit-keyframes chart-three-label {
  100% {
    -webkit-transform: translateY(-162.5rem);
            transform: translateY(-162.5rem);
  }
}

@keyframes chart-three-label {
  100% {
    -webkit-transform: translateY(-162.5rem);
            transform: translateY(-162.5rem);
  }
}
.chart-four {
  width: 150px;
  height: 150px;
  margin: 0;
  position: relative;
}
.chart-four.animate svg .circle-foreground {
  -webkit-animation: offset 3s ease-in-out forwards;
          animation: offset 3s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.chart-four.animate figcaption:after {
  -webkit-animation: chart-four-label 3s steps(60) forwards;
          animation: chart-four-label 3s steps(60) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.chart-four svg {
  width: 100%;
  height: 100%;
}
.chart-four svg .circle-background, .chart-four svg .circle-foreground {
  r: 70px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #0066c0;
  stroke-width: 10px;
}
.chart-four svg .circle-foreground {
  stroke: white;
  stroke-dasharray: 263.76px 439.6px;
  stroke-dashoffset: 263.76px;
  stroke-linecap: butt;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.chart-four svg .circle-aditional {
  r: 49px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
.chart-four figcaption {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  text-align: center;
  color: white;
  position: absolute;
  top: calc(50% - 1.25rem);
  left: 0;
  font-size: 0;
}
.chart-four figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a";
  white-space: pre;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

@-webkit-keyframes chart-four-label {
  100% {
    -webkit-transform: translateY(-150rem);
            transform: translateY(-150rem);
  }
}

@keyframes chart-four-label {
  100% {
    -webkit-transform: translateY(-150rem);
            transform: translateY(-150rem);
  }
}
@-webkit-keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
.statistic {
  background-color: #5ab2ff;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.statistic__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9rem;
}

.figure__title {
  color: white;
  font-size: 1.7rem;
  margin-top: 2rem;
  text-align: center;
}

.news {
  padding: 7rem;
}
.news__title {
  margin-bottom: 2rem;
  color: #7d7c7c;
  text-align: center;
}
.news__title-span {
  color: black;
  text-align: center;
}
.news__text {
  margin-bottom: 2rem;
  color: #7d7c7c;
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-bottom: 5rem;
}

.news__items {
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__item-img {
  width: 50%;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 2rem) / 2);
  gap: 3rem;
}

.news__item-title {
  color: black;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.news__sub {
  color: #b4b4b8;
  margin-bottom: 2rem;
}

.news__item-text {
  color: #7d7c7c;
}

.news__button {
  margin-top: 3rem;
  padding: 0 1rem;
  padding: 1.5rem 4rem;
  background-color: #5ab2ff;
  border: none;
  color: white;
}

.news__button:hover {
  background-color: rgb(79, 79, 241);
}/*# sourceMappingURL=style.css.map */